body{
    background-image: url("https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}
.text-center{
    text-decoration: none;
    font-weight: bold;
    color: darkseagreen;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}
.text-center:hover{
    text-decoration: none;
    font-weight: bold;
    color: darkseagreen;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}
.decor {
    text-decoration: none;
    font-weight: bold;
    color: darkseagreen;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}
.decor:hover {
    text-decoration: none;
    font-weight: bold;
    color: darkseagreen;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}
#empty{
    text-align: center;
    color: darkseagreen;
}
